body {
    font-family: "Segoe UI",Arial,sans-serif;
}

a {
    cursor: pointer;
}

.hide {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: #00c8b3;
    position: fixed !important;
    top: 0;
    left: 0 ;
    z-index: 1;
    overflow: auto;
    transition: .1s width ease-in-out;
    -moz-box-shadow: -3px 0 10px 0 #555;
    -webkit-box-shadow: -3px 0 10px 0 #555;
    box-shadow: -3px 0 10px 0 #555;
}

.sidebar a {
    display: flex;
    align-items: center;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar a.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar.sidebar-hide {
    width: 0px;
}

.menu-icon {
    display: flex;
    align-items: center;
    height: 30px;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
}

.menu-icon i {
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
    background-color: #00c8b3;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 60px 15px 0px 15px;
}

.container form {
    max-width: 400px;
    width: 100%;
    margin: auto;
}



.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.error-message {
    display: flex;
    font-size: 12px;
    color: #eb4a46;
}

input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #efeeed;
    outline: none;
    color: #efeeed;
    transition: all .1s ease-in-out;
}

input:disabled {
    background: #fff;
    border: none;
    color: #333333;
}

input.invalid  {
    border-bottom: 1px solid #eb4a46;
}

input:focus {
    color: #333333;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px ;
    background: #00c8b3;
    width: 100%;
    height: 40px; 
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button.loading {
    pointer-events: none;
    opacity: 0.7;
}

button.loading .button-name {
    display: none;
}

button.loading .loader {
    display: block;
}

button:hover {
    opacity: 0.7;
}


.toast {
    width: 200px;
    padding: 15px;
    background-color: #51a351;
    color: #ffffff;
    position: fixed;
    top: 50px;
    right: 30px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    opacity: 0.8;
}

.toast.toast-hide {
    opacity: 0;
    right: -230px;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
  
.loader:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
  
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    border-spacing: 0px;
    text-align: left;
    width: 100%;
}

table tr td {
    padding-right: 15px;
}

table tr th {
    padding-right: 15px;
}

table tbody tr:hover {
    background-color: #F5F5F5;
}

table tbody tr:hover input {
    color: #333333;
    background-color: #F5F5F5;
}

table tr th {
    border-bottom: 1px solid #efeeed;
    vertical-align: baseline;
}

table tr td {
    border-bottom: 1px solid #efeeed;
    vertical-align: baseline;
}

table td a {
    padding: 0px 5px;
}

table td:nth-child(5) {
    /* vertical-align: middle; */
    min-width: 50px;
}

@media only screen and (max-width : 768px) {
    input {
        width: initial;
    }
}

a i:hover {
    opacity: 0.5;
}

.save i {
    color: #4CAF50;
}

.cancel i {
    color: #F44336;
}
